[Unit]
Description=keesync - keepassx db synchronization
After=network.target

[Service]
User={USER}
Group={USER}
WorkingDirectory={HOME}/keesync/
ExecStart={PYTHON_PATH} /usr/bin/keesync.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
