[Unit]
Description=keesync - keepassx db synchronization
After=network.target

[Service]
User={USER}
Group={USER}
WorkingDirectory={WORKING_DIRECTORY}
ExecStart={PYTHON_PATH} {WORKING_DIRECTORY}/keesync.py -a {APP_KEY} -p {DATABASE_PATH} -l debug -s 1
Restart=on-failure

[Install]
WantedBy=multi-user.target
